/*
colors:
light green:#7ed56f
medium green:#55c57a
dark green:#28b485
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* line 1, scss/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 9, scss/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 13, scss/base/_base.scss */
body {
  box-sizing: border-box; }

/* line 1, scss/base/_typography.scss */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

/* line 10, scss/base/_typography.scss */
.primary-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  /* line 16, scss/base/_typography.scss */
  .primary-heading--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  /* line 26, scss/base/_typography.scss */
  .primary-heading--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

/* line 34, scss/base/_typography.scss */
.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  /* line 44, scss/base/_typography.scss */
  .secondary-heading:hover {
    transform: skewY(5deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 2rem 6rem rgba(0, 0, 0, 0.4); }

/* line 49, scss/base/_typography.scss */
.tertiary-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

/* line 54, scss/base/_typography.scss */
.paragraph {
  font-size: 1.6rem; }
  /* line 56, scss/base/_typography.scss */
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

/* line 1, scss/base/_utilities.scss */
.u-text-center {
  text-align: center; }

/* line 2, scss/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 2rem; }

/* line 3, scss/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem; }

/* line 4, scss/base/_utilities.scss */
.u-margin-bottom-large {
  margin-bottom: 8rem; }

/* line 2, scss/components/_buttons.scss */
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

/* line 13, scss/components/_buttons.scss */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  /* line 16, scss/components/_buttons.scss */
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

/* line 22, scss/components/_buttons.scss */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 27, scss/components/_buttons.scss */
.btn--white {
  color: #777;
  background-color: #fff; }
  /* line 30, scss/components/_buttons.scss */
  .btn--white::after {
    background-color: #fff; }

/* line 35, scss/components/_buttons.scss */
.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

/* line 48, scss/components/_buttons.scss */
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

/* line 55, scss/components/_buttons.scss */
.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #28b485;
  display: inline-block;
  font-size: 1.6rem;
  border-bottom: 1px solid #28b485;
  padding: 4px;
  transition: all .2s; }

/* line 65, scss/components/_buttons.scss */
.btn-text:hover {
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.6);
  background-color: #28b485;
  color: #fff;
  transform: translateY(-2px); }

/* line 71, scss/components/_buttons.scss */
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  transform: translateY(0px); }

/* line 1, scss/components/_composition.scss */
.composition {
  position: relative; }
  /* line 3, scss/components/_composition.scss */
  .composition__photo {
    width: 55%;
    box-shadow: 0 0.2rem 40px rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all .2s;
    outline-offset: 2rem; }
    /* line 9, scss/components/_composition.scss */
    .composition__photo--p1 {
      left: 0px;
      top: -2rem; }
    /* line 13, scss/components/_composition.scss */
    .composition__photo--p2 {
      right: 0px;
      top: 2rem; }
    /* line 17, scss/components/_composition.scss */
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    /* line 21, scss/components/_composition.scss */
    .composition__photo:hover {
      outline: 1.5rem solid #28b485;
      transform: scale(1.2);
      box-shadow: 0 1.2rem 40px rgba(0, 0, 0, 0.5);
      z-index: 20; }
  /* line 28, scss/components/_composition.scss */
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

/* line 1, scss/layouts/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  /* line 10, scss/layouts/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 15, scss/layouts/_header.scss */
  .header__logo {
    height: 3.5rem; }
  /* line 18, scss/layouts/_header.scss */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* line 1, scss/layouts/_grid.scss */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  /* line 5, scss/layouts/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  /* line 2, scss/abstract/_mixins.scss */
  .row::after {
    content: "";
    display: table;
    clear: both; }
  /* line 9, scss/layouts/_grid.scss */
  .row [class^="col-"] {
    padding: 1rem 0;
    float: left; }
    /* line 15, scss/layouts/_grid.scss */
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  /* line 19, scss/layouts/_grid.scss */
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  /* line 22, scss/layouts/_grid.scss */
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  /* line 25, scss/layouts/_grid.scss */
  .row .col-2-of-3 {
    width: calc((2*(100% - 2*6rem)/3) + 6rem); }
  /* line 28, scss/layouts/_grid.scss */
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem)/4); }
  /* line 31, scss/layouts/_grid.scss */
  .row .col-2-of-4 {
    width: calc((2*(100% - 3*6rem)/4) + 6rem); }
  /* line 34, scss/layouts/_grid.scss */
  .row .col-3-of-4 {
    width: calc((3*(100% - 3*6rem)/4) + 2*(6rem)); }

/* line 1, scss/pages/_home.scss */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
