.card {
	perspective: 1500px;
	-moz-perspective: 1500px;
	position: relative;
	height: 48rem;
	&__side {
		height: 48rem;
		transition: all 1.5s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 1.5em 4rem rgba($color-black, 0.15);
		&--front {
			background-color: $txt-color;
		}
		&--back {
			background-image: linear-gradient(
				to right bottom,
				$secondary-light,
				$secondary-dark
			);
			transform: rotateY(180deg);
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}
	&:hover &__side--back {
		transform: rotateY(0);
	}
	&__picture {
		background-size: cover;
		background-blend-mode: screen;
		height: 23rem;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
		&--1 {
			background-image: linear-gradient(
					to right bottom,
					$secondary-light,
					$secondary-dark
				),
				url('../img/nat-5.jpg');
		}
		&--2 {
			background-image: linear-gradient(
					to right bottom,
					$secondary-light,
					$secondary-dark
				),
				url('../img/nat-4.jpg');
		}
		&--3 {
			background-image: linear-gradient(
					to right bottom,
					$secondary-light,
					$secondary-dark
				),
				url('../img/nat-4.jpg');
		}
	}
	&__heading {
		font-size: 2.8rem;
		color: $txt-color;
		font-weight: 400;
		text-transform: uppercase;
		text-align: right;
		position: absolute;
		top: 12rem;
		right: 2rem;
		width: 75%;
	}
	&__heading-span {
		padding: 1rem 1.5rem;
		// making single element to break in multiple line
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;

		&--1 {
			background-image: linear-gradient(
				to right,
				rgba($secondary-light, 0.85),
				rgba($secondary-dark, 0.85)
			);
		}
	}
	&__details {
		padding: 2rem;
		ul {
			list-style: none;
			li {
				font-size: 1.8rem;
				text-align: center;
				&:not(:last-child){
      	margin-bottom: 1rem;
				}
			}	
		}
	}
}
