$primary-light: #C8B6E2;
$primary-medium: #A8A4CE;
$primary-dark: #495C83;
$secondary-light:#ffb900;
$secondary-dark:#ff7730;
$tertiary-light:#2993ff;
$tertiary-dark:#5643fa;
$success:green;
$error:red;


$light-txt-color: #777;
$txt-color: #fff;
$color-black: #000;
$light-grey-color-1:#f7f7f7;
$light-grey-color-2:#eee;
$light-grey-color-3:#9999;

// font
$default-font-size:1.6rem;
// grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;