$primary-light: #7ed56f;
$primary-medium: #55c57a;
$primary-dark: #28b485;
$light-txt-color: #777;
$txt-color: #fff;
$color-black: #000;
$light-grey-color-1:#f7f7f7;

// grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;